.App {
  text-align: center;
  font-weight: 400;
}

nav {
  background: beige;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 1em;
  font-family: cursive;
  font-size: larger;
}

nav :hover {
  background-color: sandybrown;
}

form {
  display: inline-flexbox;
  font-family: cursive;
}

div {
  background-image: url(https://wiki.mabinogiworld.com/images/1/18/Fiodh_Entrance.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  background-position: center;
}

label {
  font-size: x-large;
  font-weight: 700;
  background-color: goldenrod;
  margin: 5px;
  border: 5px;
}

input {
  background-color: floralwhite;
  font-family: cursive;
}

button {

}